ADMIN_INITIAL_PASSWORD=
ADMIN_INITIAL_PHONE=
ALLOWED_ORIGINS=
DATA_DIR=
FIREBASE_API_KEY=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_SHEET_WEBAPP_URL=
JWT_SECRET=
NODE_ENV=
PAY_CALLBACK_BASE=
PORT=3000
SHOP_ADDRESS=
SHOP_NAME=
SHOP_PHONE=
TRUST_PROXY=
VITE_GOOGLE_CLIENT_ID=
ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=